<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidenav to 120px */
.w3-sidenav {width: 120px;background: #222;}
/* Add a left margin to the "page content" that matches the width of the sidenav (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>

<!-- Icon Bar (Sidenav - hidden on small screens) -->
<nav class="w3-sidenav w3-center w3-small w3-hide-small">
  <!-- Avatar image in top left corner -->
  <img src="https://downandout.files.wordpress.com/2012/10/crescent-moon.jpg?w=500&h=375" style="width:100%">
  <a class="w3-padding-large w3-black" href="home">
    <i class="fa fa-moon-o w3-xxlarge"></i>
    <p>HOME</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="/diary">
    <i class="fa fa-book w3-xxlarge"></i>
    <p>DIARY</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="community">
    <i class="fa fa-globe w3-xxlarge"></i>
    <p>COMMUNITY</p>
  </a>
  <a class="w3-padding-large w3-hover-black" href="about">
    <i class="fa fa-star-o w3-xxlarge"></i>
    <p>ABOUT</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
    <a class="w3-bar-item w3-button" style="width:25% !important" href="#">HOME</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="#about">ABOUT</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="#photos">PHOTOS</a>
    <a class="w3-bar-item w3-button" style="width:25% !important" href="#contact">CONTACT</a>
  </div>
</div>

<body class="w3-black">
<body style="background:url('http://cfile230.uf.daum.net/image/23773D4252E63FBF27E31C'); background-size:100%;
    background-repeat: no-repeat;">

<!-- !PAGE CONTENT! -->
<div class="w3-content" style="max-width:1500px">

<!-- Header -->
<header class="w3-panel w3-padding-32 w3-center">
  <div align="center" style="margin-top:10%; font-size:85px;opacity:0.9"><b>ReaDream</b> </div>
  <div align="center" style="margin-top:15%"><em><h6 style = "font-family:Times New Roman"><b>"The dreaming dreamer dreams the dream he doesn't dream to dream" - Dreamer</b></h6></em></div>
   

  <!--      Username <input type="text" class = "w3-opacity"> <br/><br/>-->
  <!--      Password <input type="password" class = "w3-opacity"><br/><br/>-->
  <!--     <a href=""> <button type="submit">Sign in with Facebook</button></a><br>-->
  <!--  <input type="checkbox" checked="checked"> Remember me <br>-->
  <!--<span class="psw">Forgot <a href="password">password?</a></span>-->
  <!--</div>-->
  <!--<div class="container" style="background-color:#f1f1f1; text-align:center; margin-left:48%;margin-right:48%;margin-top:15%;margin-bottom:0%">-->

  <!--      <FORM METHOD="LINK" ACTION="signup">-->
  <!--      <INPUT TYPE="submit" VALUE="Sign up">-->
  <!--      </FORM>-->
    
  <!--</div>-->
</header>
</body>